.awssld__wrapper {
  height: 50% !important;
  width: 100% !important;
}


.awssld__content {
  height: 40rem;
}


.IS-THIS-IT {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 0;
  background: black;
}

.image-container {
  /* height: 10%; */
  width: 30%;
}

.big-text {
  font-size: 20px;
  width: 30%;
  margin-top: 10rem;
  padding: 0;
}

#root > div.awssld.awssld--organic-arrows {
  height: 80rem;
  margin: 0;
}