.netflix-img {
  max-width: 100%;
  height: auto;
}

.big-text {
  margin-top: 0;
  margin-bottom: 4px;
}

.swiper-button-next {
  color: white;
}

.swiper-button-prev {
  color: white;
}

.swiper-slide {
  transition: 25ms all;
}

.swiper-slide:hover {
  transform: scale(1.2);
  z-index: 1;
}

.swiper-wrapper {
  padding: 20px 0;
}

.swiper-slide:first-child:hover {
  margin: 0 30px;
}

.swiper-slide:last-child:hover {
  margin: 0 -30px;
}

@media only screen and (max-device-width: 480px) {
  #netflix-one-mobile {
    margin-top: 5rem;
  }
  .swiper-wrapper {
    transform: translate3d(0px, 0px, 0px);
    height: 7vh;
  }
  .swiper-slide {
    width: 186px !important;
    margin-right: 7px !important;
  }
  .netflix-img {
    max-width: 100%;
    height: 10vh;
  }
}
