.video-container {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.video-size {
  max-width: 100%;
  width: 1500px;
  /* height: 750px; */
  height: 650px;
}

.detail-for-video {
  /* border: 2px solid yellow; */
  height: 700px;
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}
/* 
.one {
  border: 1px solid salmon;
  height: 200px;
  width: 45%;
} */
/* margin: auto; */

.two {
  /* border: 1px solid orange; */
  height: 400px;
  width: 45%;
  margin: auto;
  font-size: 20px;
  text-align: left;
}

.img {
  height: 697px;
}

.check-reviews {
  /* align-items: center; */
  text-align: center;
}

.three {
  /* border: 1px solid orange; */
  height: auto;
  width: 60%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  background: #140f0a;
}

.inside {
  margin-top: 1rem;
  /* border: 1px solid purple; */
}

@media only screen and (max-device-width: 480px) {
  .video-container {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
  }
  .video-size {
    /* max-width: 100%; */
    width: 350px;
    /* height: 750px; */
    height: 350px;
  }
  .detail-for-video {
    /* border: 2px solid yellow; */
    height: auto;
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
}
